<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %> - liziyou</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Font-Awesome-3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-2.0.3.min.js"></script>

</head>

<body >
<div id="backimg">
<nav class="navbar navbar-inverse" role="navigation" id="back">
    <div class="container" id="backgroud">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">liziyou</a>
            </div>
            <a class="navbar-brand" href="/">首页</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/reg"><span class="icon-user"></span> 注册</a></li>
                <li><a href="/login"><span class="icon-signin"></span> 登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-sm-12">